In [16]:
# Import Apache Cassandra Python Package
import cassandra
from cassandra.cluster import Cluster

In [18]:
#Creaet Connection to Cassandra
try:
    cluster = Cluster(['127.0.0.1'])
    session =cluster.connect()
except Exception as e:
    print(e)

In [19]:
#Test Connection
try:
    session.execute("select * from music_library")
except Exception as e:
    print(e)

Error from server: code=2200 [Invalid query] message="No keyspace has been specified. USE a keyspace, or explicitly specify keyspace.tablename"

In [1]:
# Create a Keyspace to do our Work on 
try:
    session.execute("""
        CREATE KEYSPACE IF NOT EXISTS udacity
        WITH REPLICATION = 
        {'class' : 'SimpleStrategy' , 'replication_factor' : 1}
    """)
except Exception as e:
    print(e)

name 'session' is not defined

In [21]:
# Set keyspace to Udacity
try:
    session.set_keyspace("udacity")
except Exception as e:
    print(e)

In [22]:
# Create music_library Table
query = """
        CREATE TABLE IF NOT EXISTS music_library 
        (year int,artist_name text,album_name text,PRIMARY KEY (year,artist_name))
"""
try:
    session.execute(query)
except Exception as e:
    print(e)

In [23]:
# validate Our Table
query = "select count(*) from music_library"

try:
    count = session.execute(query)
except Exception as e:
    print(e)
print(count.one())

Row(count=0)

In [25]:
# insert some data to our music_library table
query = """
    INSERT INTO music_library (artist_name,year,album_name)
    VALUES (%s,%s,%s)
"""
try:
    session.execute(query,("The Beatless",1970,"Let it Be"))
except Exception as e:
    print(e)

In [9]:
query = """
    INSERT INTO music_library (year,artist_name,album_name)
    VALUES (%s,%s,%s)
"""
try:
    session.execute(query,(1970,"The Beatless","Let it Be"))
except Exception as e:
    print(e)

try:
    session.execute(query,(1965,"The Beatles","Rubber Soul"))
except Exception as e:
    print(e)

In [26]:
# Validate Our Query
query = "select * from music_library"
try:
    rows=session.execute(query)
except Exception as e:
    print(e)
for row in rows:
    print(row.year,row.album_name,row.artist_name)

1970 Let it Be The Beatless

In [27]:
# Validate Our Query
query = "select * from music_library where year=1970"
try:
    rows=session.execute(query)
except Exception as e:
    print(e)
for row in rows:
    print(row.year,row.album_name,row.artist_name)

1970 Let it Be The Beatless

In [28]:
# Drop Table
query = "drop table music_library"

try:
    session.execute(query)
except Exception as e:
    print(e)

In [29]:
# ShutDown Session and Cluster Connections
session.shutdown()
cluster.shutdown()